<div class="user-container">


  <div class="large-12 columns">
    <div id="title-container">
      <h1 id="subtitle"> Get in on this</h1>
      <h3 id="segment-subtitle"><small>Sign up and win your pool</small></h3>
      </div>
    </div>
  </div>

<div id="form">
<fieldset>
  <legend> Sign Up </legend>
  <div id="form-push">
    <%= render "form" %>
  </div>
</fieldset>

</div>