<% @teams.each do |team| %>

<h2><%= team %> </h2>
  <% @players.where("nba_team" => team ).each do |player| %>
  <p><%= link_to "#{player.display_name} - #{player.position}", player_path(player) %></p>
  <% end %>
<% end %>