/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { background: #E1E6ED; margin: 0; color: #296CC4; font-family: sans-serif;}
.main {padding: 10px;}

a, a:visited { text-decoration: none; font-weight: bold; color: #296CC4; }
a:hover { color: #0F4996; }


