
.season-stats, .line-row {
  border: 1px solid #D4933D;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

  .stat-holder {
    width: 6%;
    display: inline-block; 
  }
  .stat-holder.player-name {
      width: 10%;
    }
