<div class="nav-wrapper"> 
  <ul id="nav">
    <li><%= link_to "CheatSheet", players_path %></li>
    <div class="users">
      <li><%= user_check %></li>
      <% if !logged_in? %>
        <li><%= link_to 'sign up', [:new, :user] %></li>
      <% end %>
    </div>
  </ul>
</div>